@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap');

body {
  width: 310px;
  padding: 35px;
  background-color: #e5e5e5;
  font-family: "poppins", sans-serif;
  font-style: normal;
}

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 340px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  margin-bottom: 100px;
  background-color:white;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  padding-top: 50px;
}

.myself {
  display: flex;
  flex-direction: column;
  background-image: url(./photo/bg/header-shapes-mobile.png);
  padding-top: 20px;
  padding-right: 24px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.myself > .greeting {
  align-items: center;
  width: 200px;
  height: 112.75px;
  color: #172b4d;
  padding-left: 23px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo-show {
  padding-right: 24px;
  color: blue;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 3px;
}

.menu {
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top: 3px;
}

.nav-bars > nav:hover {
  color: #7f8cff;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: flex-start;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 2px;
  cursor: pointer;
  width: 130px;
  border: none;
  background-color: white;
  border-radius: 8px;
  justify-content: flex-start;
  margin-left: 22px;
}

.link:hover {
  background-color: #6070ff;
}

.link p:hover {
  color: #fff;
}

.bio {
  padding-left: 23px;
  padding-right: 35px;
  width: 260px;
}

.icon {
  padding-left: 23px;
  cursor: pointer;
}

.icon > img {
  width: 14px;
  padding: 7px;
  height: 15px;
}

.middle-section-container {
  display: grid;
  width: 350px;
  height: 650px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 100px;
  background-color:white;
}

.image-area > img {
  width: 348px;
}

.tonic > h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 295px;
  height: 10px;
}

.tonic2 h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 200px;
}

.canopy-wrapper > ul {
  display: grid;
  grid-template-columns: auto auto;
  color: #7a869a;
  gap: 20px;
}

.canopy-wrapper {
  display: flex;
  height: 40px;
}

.canopy-wrapper > p {
  width: 50px;
}

.middle-section-nav-bars {
  display: flex;
  align-items: flex-start;
  width: 30px;
}

.middle-section-nav-bars > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 62px;
  list-style-type: none;
  padding-left: 14px;
  margin: 10px;
  width: 220px;
}

.project-link {
  border: 1px solid blue;
  width: 150px;
  height: 50px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
}

.project-link > h1 {
  color: #396df2;
}

.project-link h1:hover {
  color: #fff;
  cursor: pointer;
}

.project-link:hover {
  background-color: #6070ff;
}

.technology li {
  border-radius: 6px;
  background-color: #ebebff;
}

.about-myself-link {
  border: none;
  background-color: white;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 2px;
  cursor: pointer;
  width: 130px;
  display: flex;
}

.about-myself-link p {
  display: flex;
  justify-content: flex-start;
  border: none;
}

.about-myself-link:hover {
  color: #6070ff;
  background-color: #7f8cff;
  border-radius: 5px;
}

.about-myself-link p:hover {
  color: #fff;
}

.about-myself {
  display: grid;
  width: 350px;
  padding: 15px;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 100px;
  background-color:white;
}

.about-myself h1 {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  color: #172b4d;
}

.about-myself-icons > img {
  width: 14px;
  padding: 7px;
  height: 15px;
}

.about-myself-link p {
  color: #7f8cff;
}

.resume {
  border: 1px solid #396df2;
  background-color: #fff;
  width: 138px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume p {
  color: #396df2;
}

.resume:hover {
  background-color: #6070ff;
  cursor: pointer;
}

.resume p:hover {
  color: #fff;
}

.about-myself-ul li {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #f7f7f9;
  height: 62px;
  padding-left: 8px;
}

.about-myself-ul {
  padding-left: 2px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.about-myself-ul span {
  margin-left: 15px;
}

.frameworks {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.frameworks img {
  margin-right: 50px;
  color: #253858;
}

.skills {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.skills img {
  margin-right: 50px;
  color: #253858;
}

.header-text p {
  color: #344563;
}

.about-myself h1 {
  color: #172b4d;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
}

.language img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}


