@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap');

body {
  background-color: #e5e5e5;
  font-family: "poppins", sans-serif;
  font-style: normal;
  margin: 0;
}

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-right: 12px;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-bottom: 100px;
  background-color: white;
  border-bottom-left-radius: 20px;
  padding-top: 50px;
}

.myself {
  display: flex;
  flex-direction: column;
  background-image: url(./photo/bg/header-shapes-mobile.png);
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.myself > .greeting {
  align-items: center;
  width: 200px;
  height: 112.75px;
  color: #172b4d;
  padding-left: 23px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo-show {
  padding-right: 24px;
  color: blue;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 3px;
  border-radius: 8px;
  height: 12px;
}

.desktop-nav-bars {
  display: none;
}

.menu {
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top: 3px;
}

.logo-show:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
}

.link {
  display: flex;
  align-items: flex-start;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 1px;
  width: 120px;
  border: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  margin-left: 22px;
}

.link:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.bio {
  padding-left: 23px;
  padding-right: 35px;
  width: 260px;
}

.icon {
  padding-left: 23px;
  cursor: pointer;
}

.icon > img {
  width: 14px;
  padding: 7px;
  height: 15px;
}

.middle-section-container {
  display: grid;
  width: 350px;
  height: 650px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;
  margin: 20px;
}

.middle-section-container2 {
  display: grid;
  width: 350px;
  height: 700px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;
  margin: 20px;
}

.image-area > img {
  width: 348px;
}

.tonic > h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 295px;
  height: 10px;
}

.tonic2 h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 200px;
}

.canopy-wrapper > ul {
  display: grid;
  grid-template-columns: auto auto;
  color: #7a869a;
  gap: 20px;
}

.canopy-wrapper {
  display: flex;
  height: 40px;
}

.canopy-wrapper > p {
  width: 50px;
}

.middle-section-nav-bars {
  display: flex;
  align-items: flex-start;
  width: 30px;
}

.middle-section-nav-bars > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 62px;
  list-style-type: none;
  padding-left: 14px;
  margin: 10px;
  width: 220px;
}

.project-link {
  border: 1px solid blue;
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  color: #396df2;
  font-size: 16px;
}

.project-link:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.technology li {
  border-radius: 6px;
  background-color: #ebebff;
}

.about-myself-link {
  border: none;
  background-color: white;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 2px;
  cursor: pointer;
  width: 115px;
  display: flex;
}

.about-myself-link:hover {
  color: #fff;
  background-color: #7f8cff;
  border-radius: 5px;
}

.about-myself {
  display: grid;
  width: 350px;
  padding: 15px;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;
  height: 1100px;
  margin: 22px;
}

.about-myself h1 {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  color: #172b4d;
}

.about-myself-icons > img {
  width: 14px;
  padding: 7px;
  height: 15px;
}

.resume {
  border: 1px solid #396df2;
  background-color: #fff;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #396df2;
  font-size: 15px;
}

.resume:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
}

.about-myself-ul li {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #f7f7f9;
  height: 62px;
  padding-left: 8px;
}

.about-myself-ul {
  padding-left: 2px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.about-myself-ul span {
  margin-left: 15px;
}

.frameworks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frameworks img {
  margin-right: 50px;
  color: #253858;
}

.skills li {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.skills img {
  margin-right: 50px;
  color: #253858;
}

.header-text p {
  color: #344563;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
  font-size: 18px;
  color: #396df2;
  border-radius: 6px;
}

.language img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.language:hover {
  color: #fff;
  background-color: #6070ff;
}

.form-container {
  background: url(photo/bg/background2.png);
  display: flex;
  width: 350px;
  height: 700px;
  flex-direction: column;
  padding: 15px;
  border-radius: 90px 0 0 0;
  align-items: center;
  background-color: #6070ff;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  margin: 22px;
}

.paragragh {
  flex-direction: row;
  color: #ebebff;
  text-align: center;
  width: 325px;
  margin-bottom: 10px;
}

.paragragh p {
  font-weight: 400px;
  font-size: 18px;
}

.form-text {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-container h3 {
  text-align: center;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 2px;
  font-weight: 700px;
  font-size: 40px;
}

.contact-form ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.contact-form input {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 39px;
  color: #172b4d;
  font-weight: 400px;
  font-size: 17px;
  background-color: #fff;
  padding-left: 11px;
  border: none;
}

.contact-form textarea {
  border-radius: 10px;
  width: 300px;
  padding-left: 11px;
  border: none;
}

.contact-form {
  display: flex;
  align-items: center;
  padding-right: 37px;
}

.contact-button {
  display: flex;
  margin-left: 40px;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #6070ff;
  border: none;
  font-weight: 400px;
  font-size: 17px;
}

.contact-button:hover {
  color: #ebebff;
  background-color: #6070ff;
  border: 1px solid white;
}

.destop-tonic-img {
  display: none;
}

@media (min-width: 768px) {
body {
  width: 100%;
  background-color: #e5e5e5;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-bottom: 100px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  padding-top: 50px;
}

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 96%;
  position: absolute;
  top: 1px;
}

.myself {
  display: flex;
  flex-direction: column;
  background-image: url(./photo/bg/Header-bg-desktop.jpg);
  padding-top: 20px;
  padding-right: 24px;
  width: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-size: 100%;
}

.myself > .greeting {
  align-items: center;
  width: 40%;
  height: 112.75px;
  color: #172b4d;
  padding-left: 125px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.bio {
  padding-left: 34px;
  padding-right: 23px;
  width: 65%;
  margin-left: 84px;
}

.bio > p {
  font-size: 13px;
  font-weight: 400px;
  line-height: 21px;
  color: #344563;
}

.link {
  display: flex;
  align-items: flex-start;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 1px;
  width: 120px;
  border: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  margin-left: 114px;
}

.icon {
  padding-left: 114px;
  cursor: pointer;
}

.menu {
  display: none;
}

.desktop-nav-bars {
  display: flex;
  gap: 10px;
  color: #344563;
}

.desktop-nav-bars span:hover {
  background-color: #6070ff;
  color: #fff;
  border-radius: 5px;
}

.destop-tonic-img {
  width: 100px;
}

.middle-section-container, .middle-section-container2 {
  display: flex;
  width: 85%;
  height: 40%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  margin: 40px;
}

.image-area {
  padding-right: 30px;
}

.hero {
  display: grid;
  margin-bottom: 40px;
}

.text-area {
  width: 270px;
}

.text-area p {
  font-size: 11px;
}

.middle-section-container2 .hero {
  order: 2;
}

.tonic2 h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 295px;
  margin-bottom: -10px;
}


.tonic h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 200px;
  margin-bottom: 20px;
}

.about-myself {
  display: flex;
  width: 100%;
  height: 40%;
  background-color: white;
  border-radius: 20px;
  border: 2px solid white;
  margin: 50px 0;
}

.about-myself-wrapper {
  display: grid;
  margin-bottom: 20px;
}


.header-text p {
  width: 300px;
}

.language-wrapper {
  display: grid;
  margin-left: 30px;
  width: 300px;
}

.about-myself-ul {
  gap: 12px;
  display: flex;
  font-size: 14px;
  flex-direction: row;
}

.about-myself-ul li {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #f7f7f9;
  height: 62px;
  flex-direction: column;
  gap: 10px;
}

.about-myself-ul span {
  margin-left: 0;
  font-size: 11px;
}

.frameworks, .skills h3 {
  font-size: 12px;
  color: #344563;
}

.skills img {
  width: 12px;
  margin: 0;
}

.frameworks img {
  width: 12px;
  margin: 0;
}

.resume {
  width: 130px;
}

.language img {
  width: 10px;
  margin: 0;
}

.form-container {
  width: 97%;
  background-position: 97%;
  margin: 50px 0;
}
}


